main {
    padding: 5px;
}

h1 {
    margin: 10px;
}

main ul {
    margin: 10px;
}

main ul li {
    margin: 10px;
}

main a {
    text-decoration: none;
    color: var(--txt-clr);
}

main svg {
    height: 1em;
    aspect-ratio: 1;
    fill: var(--txt-clr);
}

code {
    padding: 4px;
    font-family: Monospace;
    border-radius: 5px;
    background-color: var(--bg-clr1);
}