:root {
    --accent-clr: hsl(200 70% 50%);
    --txt-clr: hsl(from var(--accent-clr) h 15% 95%);
    --bg-clr: hsl(from var(--accent-clr) h 15% 10%);
    --shadow-clr: hsl(0 0% 0% / 0.7);
}

:root.lightTheme {
    --accent-clr: hsla(200, 70%, 50%);
    --txt-clr: hsl(from var(--accent-clr) h 15% 10%);
    --bg-clr: hsl(from var(--accent-clr) h 15% 95%);
    --shadow-clr: hsla(0, 0%, 0%, 0.7);
}

@font-face {
    font-family: Roboto;
    src: url("/fonts/roboto.ttf");
}

svg.hidden {
    display: none !important;
}

* {
    margin: 0;
    padding: 0;
    transition: background-color 100ms ease-in-out,
                color 100ms ease-in-out,
                fill 100ms ease-in-out;
}

body {
    background-color: var(--bg-clr);
    color: var(--txt-clr);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 100%;
    right: 100%;
    width: 100%;
    height: 65px;
    box-shadow: 0px 0px 10px hsl(from var(--bg-clr) h s calc(l - 5%));
    background-color: hsl(from var(--accent-clr) h 15% calc(l + 5%));
    backdrop-filter: blur(5px);
}

nav ul {
    display: flex;
    height: 100%;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
    height: 100%;
}

nav ul li:first-child {
    margin-right: auto;
}

nav ul li:first-child a button {
    display: inline-flex;
    align-items: center;
}

#icon {
    height: 100%;
    fill: var(--txt-clr);
}

#themeToggle svg {
    height: 50%;
    fill: var(--txt-clr);
}

nav ul li a {
    text-decoration: none;
    height: 100%;
}

nav ul li button {
    display: inline-flex;
    align-items: center;
    height: 100%;
    border-style: none;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    color: var(--txt-clr);
}

main {
    margin-top: 65px;
    background-color: var(--bg-clr);
}