:root {
    --bg-clr: #FFFFFF;
    --light-bg-clr: #EEEEEE;
    --dark-bg-clr: #222222;
    --light-dark-bg-clr: #333333;
    --hvr-clr: #f0f0f0;
    --light-txt-clr: #000000;
    --dark-txt-clr
    --accent-clr: #0000ff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--bg-clr);
    color: var(--light-txt-clr);
    font-family: "Segoe UI";
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0px 0px 5px #000000;
}

nav ul {
    padding-left: 0;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul li {
    height: 100%;
}

nav a {
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--light-txt-clr);
    text-decoration: none;
}

nav li:first-child {
    margin-right: auto;
}

main {
    margin-top: 60px;
    padding: 5px;
    background-color: var(--bg-clr);
    color: var(--light-txt-clr);
}

#calculatorBody {
	background-color: var(--dark-bg-clr);
	border-radius: 5px;
	width: 249px;
	margin: auto;
	margin-top: 10px;
	padding: 15px;
	box-shadow: 0px 0px 5px #000000;
}

#buttonDiv {
	margin-top: 5px;
}

.buttons {
	border-style: none;
	border-radius: 10px;
	width: 50px;
	height: 42px;
	font-size: 28px;
	margin: 4.491px;
	margin-top: 4px;
	margin-bottom: 4px;
	color: var(--dark-txt-clr);
	background-color: var(--light-dark-bg-clr);
}

.bButtons {
	border-style: none;
	border-radius: 10px;
	width: 50px;
	height: 42px;
	font-size: 28px;
	margin: 4.491px;
	margin-top: 4px;
	margin-bottom: 4px;
	color: var(--dark-txt-clr);
	background-color: var(--accent-clr);
}

.buttons:active {
	border-style: solid;
	border-width: 2px;
	border-color: var(--bg-clr);
	box-shadow: 1px 1px 2px #111111 inset;
}

.bButtons:active {
	border-style: solid;
	border-width: 2px;
	border-color: var(--accent-clr);
	box-shadow: 1px 1px 2px #111111 inset;
}

#resultWindow {
	border-style: none;
	border-radius: 10px;
	margin-bottom: 0px;
	padding: 5px;
	width: 239px;
	height: 41px;
	font-size: 28px;
	color: var(--dark-txt-clr);
	background-color: var(--light-dark-bg-clr);
	text-align: right;
}